.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.choices{
  display : flex;
  flex-direction: column;
  background-color: blue;
}

.forkChoices{
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.first {
  font-size: 32px;
  padding: 50px;
  background-color: red;
  border-bottom: solid black 5px;
}

.second {
  font-size: 32px;
  padding: 50px;
  background-color: blue;
  border-bottom: solid black 5px;
  border-right: solid black 5px;
}

.third {
  font-size: 32px;
  padding: 50px;
  background-color: green;
  border-bottom: solid black 5px;
}

.fourth {
  font-size: 32px;
  padding: 50px;
  background-color: yellow;
  border-bottom: solid black 5px;
  border-left: solid black 5px;
}

#vsLeft{
  border-right: solid black 5px;
}

#vsRight{
  border-left: solid black 5px;
}

#forkMiddle{
  display: flex;
  justify-content: space-around;
}

#forkLeftChamp{
  background-color: pink;
  padding: 50px;
  font-size: 32px;
}

#forkRightChamp{
  background-color: orange;
  padding: 50px;
  font-size: 32px;
}

#nothing{
  background-color: purple;
  height: 20px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
